@charset 'utf-8';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* *************************************************************************************************** */
/* media query */
@media screen and (max-width: 600px){
    #scroll-section-0{
        background-image: url("../images/who-mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #invitation{
        font-size:20px;
        padding: 400px 0 0 50px;
    }
    #introduction h3{
        font-size:14px;
    }
    .poster_map img{
        width: 70%;
        border-radius: 5%;
    }
    .phone img{
        width: 50%;
        height: auto;
    }
    .phone{
        font-size:25px;
        text-align: center;
    }
}
@media screen and (min-width: 600px){
    #scroll-section-0{
        background-image : url("../images/who.png");
        background-size: cover;
    }
    #invitation{
        font-size:25px;
        padding: 400px 0 0 500px;
    }
    #introduction h3{
        font-size:18px;
    }
    .poster_map img{
        width: 35%;
        border-radius: 5%;
    }
    .fresher{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 30px;
    }
    .phone img{
        width: 100%;
        height: auto;
    }
    .phone{
        width:320px;
        font-size:25px;
    }
    #fresher1 #mobile{
        margin-bottom: -10vh;
    }
    #fresher2 #mobile{
        margin-top: -10vh;
    }   
}
/* *************************************************************************************************** */
body{
    font-family: "Noto Sans KR", sans-serif !important;
    overflow-x: hidden;
    color: white;
    letter-spacing: -0.05em;
    background-color: #121212;
}
strong{
    color: #BF94E4;
}
p{
    line-height: 1.6;
    font-size: 15px;
    text-align: center;
}
/* **************************************************************************************************** */
/* top */
.top-nav{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    padding: 0 1 rem;
    backdrop-filter: blur(15px);
    z-index: 5;
}
.top-nav-link{
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.top-nav-link .product-name{
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: auto;
}
.top-nav-link a{
    font-size: 0.9rem;
}
.top-nav-link a:not(.product-name){
    margin-left: 2em;
}
/* **************************************************************************************************** */
/* all_section */
.scroll-section{
    border: 3px solid darkslateblue;
}
/* **************************************************************************************************** */
/* section0 */
/* #scroll-section-0{
    background-image: url("../images/who.png");
    background-size: cover;
} */
/* #invitation{
    font-size:25px;
    padding:400px 0 0 500px;
} */
#introduction{
    text-align: center;
}
/* #introduction h3{
    font-size:18px;
} */
/* **************************************************************************************************** */
/* section1 */
.section1-top{
    background-color: #1e1e1e;
    height: 90px;
    font-size:18px;
    padding: 60px 0 0 0;
    text-align: center;
}
hr{
    width: 4%;
    background-color: white;
    margin-top: 170px;
}
#date-place{
    font-size:18px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* .poster_map img{
    width: 35%;
    border-radius: 5%;
} */
.poster_map{
    text-align: center;
    border-radius: 5%;
    margin-bottom: 130px;
}
/* **************************************************************************************************** */
/* section2-3 */
/* .fresher{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
} */
#fresher2{
    flex-direction: row-reverse;
}
/* .phone{
    width:320px;
    font-size:25px;
} */
/* .phone img{
    width: 100%;
    height: auto;
} */
/* #fresher1 #mobile{
    margin-bottom: -10vh;
}
#fresher2 #mobile{
    margin-top: -10vh;
} */
/* **************************************************************************************************** */
/* section4 */
.section4-top{
    background-color: #1e1e1e;
    height: 90px;
    font-size:18px;
    padding: 60px 0 0 0;
    text-align: center;
}
.guide{
    padding: 200px 30% 150px 30%;
    color: #BF94E4;
}
.guide p{
    text-align: left;
}
#guide_main{
    padding: 0 0 50px 0;
}
#guide_detail{
    padding: 30px 30px 50px 30px;
}
/* **************************************************************************************************** */
/* footer */
.footer{
    text-align: center;
    color: #BF94E4;
    margin-top: 150px;
}
#copyright{
    margin-top:15px;
    margin-bottom:8px;
}


